# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

/bin/
/include/
/elvxc/elvxc
/exc/bin/
O/
*.log
!go.mod
temp/
test_out/

media/AGAIG-clip-2mono.mp4
media/ActOfLove-30sec.mov
media/BOB923HL_clip_timebase_1001_60000.MXF
media/BOND23-CLIP-downmix-2min.mov
media/BOND23-CLIP-prores-downmix.mov
media/Dialing_Home_Season_Two_Teaser.mp4
media/Dialing_Home_Season_Two_Teaser.png
media/Dialing_Home_Season_Two_Teaser.vtt
media/FS1-19-10-14.ts
media/FS1-19-10-15-2-min.ts
media/FS1-19-10-15.ts
media/Rigify-2min-10000ts.mp4
media/Rigify-2min.mp4
media/across_the_universe_4k_clip_30sec.mp4
media/across_the_universe_4k_clip_60sec.mxf
media/creed_1_min.mov
media/fs1-mpegts-2019-11-23.cap
media/multichannel_audio_clip.mov
