





Live Stream Ingest - RTMP



-video-time-base 30  -video-bitrate 5000000

2024-02-13 18:39:48.787 DBG PI ENCODER url=fsegment-video-%05d.mp4, xc_type=0, nb_streams=1
2024-02-13 18:39:48.787 DBG PI ENCODER[0] stream_index=0 url=fsegment-video-%05d.mp4 profile=100 level=40 id=0 codec_type=0 start_time=0 duration=0 nb_frames=0 time_base=1/15360 codec_time_base=0/1 frame_rate=0/0 avg_frame_rate=30/1
2024-02-13 18:39:48.787 DBG PI CODEC CONTEXT codec type=0 id=27 time_base=1/30 framerate=0/1 tpf=1 delay=0 bit_rate=5000000-4000000 rc=5000000-5000000-0 q=-1--1--1 vbv=0.000000/3.000000/-1 width=1920 height=1080 aspect_ratio=0/1 coded_width=1920 coded_height=1080 gop=60 keyint_min=-1 refs=-1 frame_size=0 frame_number=0

no video-time-base -video-bitrate 5000000

2024-02-13 18:51:41.122 DBG PI ENCODER url=fsegment-video-%05d.mp4, xc_type=0, nb_streams=1
2024-02-13 18:51:41.122 DBG PI ENCODER[0] stream_index=0 url=fsegment-video-%05d.mp4 profile=100 level=40 id=0 codec_type=0 start_time=0 duration=0 nb_frames=0 time_base=1/16000 codec_time_base=0/1 frame_rate=0/0 avg_frame_rate=30/1
2024-02-13 18:51:41.122 DBG PI CODEC CONTEXT codec type=0 id=27 time_base=1/1000 framerate=0/1 tpf=1 delay=0 bit_rate=5000000-4000000 rc=5000000-5000000-0 q=-1--1--1 vbv=0.000000/3.000000/-1 width=1920 height=1080 aspect_ratio=0/1 coded_width=1920 coded_height=1080 gop=60 keyint_min=-1 refs=-1 frame_size=0 frame_number=0